<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet icon" href="/imagens/cifão.png">
  </head>
  <title>Relatorios</title>
  <body>
    <div id="divimg" class="container">
      <img src="img/dinheiro.png" >
      <h1>Total de Gastos E Ganhos</h1>
      <br>
      <div class="row">
       
        <% if (list.length  > 0) {%>
        
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Valor</th>
              <th scope="col">Data</th>
              <th scope="col">Tipo de Lançamento</th>
              <th scope="col">Categoria</th>
              <th scope="col">Descrição</th>
            
            
            </tr>
          </thead>
          <% list.forEach( element => {%>
            <tr>
              <td><%= "R$" + element.valor %> </td>
              <td><%=element.data_lancamento%></td>
              <td><%= element.ganho ? "+ Ganho" : "- Gasto"%></td>
              <td value="<%= element.categoria%>"><%= element.id_categoria%></td><!--Faz essa mesma coisa para mostra no index  mas eu tenho q relacionar categoria para lancamentos-->
              <td> <%= element.descricao %> </td>
             <!--Relacionar categorias com elemento-->
          </tr>
          <% });%>  
        </table>
        <% }%>
        </div>
        <h3 id="qtd_lancamentos">Quantidade de Lançamentos <%= list.length %></h3>
      </div>
      </div>
     
    <script>

      function editarLancamento(){
        window.location.href= "http://localhost:8080/lancamento";
      }

      function abrir_limite(){
        $('#modal_limite').modal('show')
      }
      function pdf(){
        window.location.href = "http://localhost:8080/pdf"
      }
    </script>

    <style>
      
      p{
        text-align: center;
        color: black;
      }
        h1{
            text-align: center;
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        #divimg{
          text-align: center;
        }
        tr td {
          color: black;
        }
         
      
    </style>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
   <!--<script src="/script.js"></script>--> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
<br><br><br>
<header>

  <%if(dia > 9 && mes < 9){%>
    <h3>Relatorios ControDineiro Gerado em <%= dia %> / 0<%= mes %> / <%= ano %></h3>
    <% }%>

    <%if(mes > 9 && dia < 9){%>
      <h3>Relatorios ControDineiro Gerado em 0<%= dia %> / <%= mes %> / <%= ano %></h3>
      <% }%>

      <%if(dia < 9 && mes < 9){%>
        <h3>Relatorios ControDineiro Gerado em 0<%= dia %> / 0<%= mes %> / <%= ano %></h3>
        <% }%>
</header>