<!DOCTYPE html>
<html lang="pt-br">
  <%- include("./partials/header") %>

  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <h1>ControDinheiro</h1>
    
    <div class="container">
      <div class="row">
          <div class="col">
            
            <nav class="navbar navbar-expand-lg navbar-light bg-Grey">
              <a class="navbar-brand" href="">ControDinheiro</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  
                  <li class="nav-item active">
                    <a class="nav-link" href="/categoria">Categoria <span class="sr-only">(current)</span></a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link" href="/lancamento">Lancamento</a>
                  </li>
                
                  <li class="nav-item"></li>
                      <a class="nav-link" href="/converte">Conversãos</a>
                    </li>

                    <li class="nav-item"></li>
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item"></li>
                  <a class="nav-link" href="/porcentagem">Porsentagems</a>
                </li>
              
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/salvaPesquisa" method="post">
                  <div class="form-group">
                  <input   id="pesquisa" name="pesquisa"class="form-control mr-sm-2" type="search"  placeholder="Pesquisar" aria-label="Search" list="pesquisa">
                  <button> Pesquisar</a></button>
                </div>
                  
                  <datalist id="pesquisa">
                    <% list.forEach( element => {%>
                    <option value="<%= element.valor %>"> </option>
                    <option value="<%= element.data_lancamento %>"> </option>
                    <option value="<%= element.ganho %>"> </option>
                    <option value="<%= element.select_novo %>"> </option>
                    <option value="<%= element.limite %>"> </option>
                    <% });%> 
                  </datalist>
                </form>
              </div>
            </nav>
    </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">ControDinheiro</h1>
        <p class="lead">Gerencie seu Dinheiro</p>
        <% if(temp == 1 ){%>
          <p><%= msg_logar%></p>
          <% }%>
      
        <p>Bem Vindo: <%= soma%></p>
        <%soma = 0;%>
        <% list.forEach( element => {%>
          <% if(element.ganho === "on"){%>
            <% soma += element.valor; %>
            <% }%>
            <% if(element.ganho !== "on"){%>
              <% soma = soma -  element.valor; %>
              <% }%>
          <% });%>  
          <%= "Soma/Saldo: "+  soma%>
          <br><br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_limite">
  Limite de Lançamentos
</button>

<!-- Modal -->
<div class="modal fade" id="modal_limite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Limte seus Gastos</h5><br>
        <p>Esté Limite só sera Aplicado nos seus Gastos</p><br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/salvaLimite" method="POST">
          <div class="form-group">
            <label for="form_categorias">Limite de Gastos ?</label><br>
            <input type="text"  id="limite" name="limite" placeholder="Informe o Limite">
          </div>
          <button type="submit" class="btn btn-primary" >Concluido</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_porcentagem">
 Porcentagem
</button>
<div class="modal fade" id="modal_porcentagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalporcentagem">Porcentagem de Lancamentos</h5><br>
       
        <p>Quanto voçe quer de porcentagem de 20 a 100%</p><br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/savePorcentagem" method="POST">
          <div class="form-group">
            
            <label for="form_categorias">Informe aqui</label><br>
            <input type="text"  id="porcentagem" name="porcentagem" placeholder="Informe a Porcentagem">
          </div>
          <button type="submit" class="btn btn-primary" >Concluido</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
   
    <% if(converter > 0){%>
      <p>Valor <%= "R$" + salvaSaldo%> Convertido em Dolar: <%=" US$ "+ converter%></p>
      <% }%>
      <% if(coveter_dolar !== "on"){%>
        <p> <%= nao_convertido%></p>
        <% }%>
    <!-- <% if(converter !== "on"){%>
        <p> <%= converter%></p>
        <% }%>--> 
        

    <% if (list.length  > 0) {%>
      <p>Tabela de Lançamentos</p>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Valor</th>
          <th scope="col">Data</th>
          <th scope="col">Tipo de Lançamento</th>
          <th scope="col">Categoria</th>
          <th scope="col">Descrição</th>
        
        </tr>
      </thead>
      <% list.forEach( element => {%>
        <tr>
          <td><%= "R$" + element.valor %> </td>
          <td><%= element.data_lancamento %></td>
          <td><%= element.ganho ? "+ Ganho" : "- Gasto"%></td>
          <td> <%= element.select_novo %> </td>
          <td> <%= element.descricao %> </td>
   
         <!--Relacionar categorias com elemento-->

         
      </tr>
      <% });%>  
    </table>
    <% }%>
    
    </div>

   
    
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
   <!--<script src="/script.js"></script>--> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
